.tweetFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-top: 0.063rem solid var(--twitter-background); */
    border-bottom: 0.063rem solid var(--twitter-background);
    height: 3rem;
    /* margin-top: 1rem; */
}
