.WhatsHappeningTweets {
    padding: 1.25rem;
    display: flex;
}

.WhatsHappeningTweets>input {
    flex: 1;
    margin-left: 1.25rem;
    font-size: 1.25rem;
    border: none;
    outline: none;
}

.WhatsHappeningTweetsimg {
    border: none;
    padding: .625rem;
    outline: none;
}

.avatar {
    cursor: pointer;

}

.selectImage>img {
    width: 400px;
    height: 250px;
    object-fit: contain;
}