.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebarOption:hover {
    /* background-color: #e8f5fe; */
    width:fit-content;
    padding-right:4rem;
    background-color: gainsboro;
    border-radius: 1.875rem;
    /* color: var(--twitter-color); */
    transition: color 100ms ease-out;
}

.sidebarOption>.MuiSvgIcon-root {
    padding: .7rem;
}

.sidebarOption>h2 {
    font-weight: 400;
    font-size: 1.1rem;
    margin-right: 1rem;
}

.sidebarOption--active {
    color: var(--twitter-color);
}
/* Link{
    text-decoration: none;
} */
@media screen and (max-width: 1280px) {
    .sidebartext{
        display:none !important;
    }
}