.tweetFooterIcons {
    display: flex;
    color: var(--twitter-color);
    margin-left: 3rem;
    gap: 1rem;

}

.tweetFooterIcons>p:hover {
    /* background-color: #e6ecf0; */
    background-color: var(--twitter-background);
    color: var(--twitter-color);
    cursor: pointer;
    border-radius: 50%;

}